flows.json
[{"id":"87867079.15ac2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"47168d0e.9875c4","type":"debug","z":"87867079.15ac2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":160,"wires":[]},{"id":"3509ac18.ddde14","type":"ibmiot in","z":"87867079.15ac2","authentication":"apiKey","apiKey":"e99fafa4.1d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"Adhyan","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":160,"wires":[["47168d0e.9875c4","3bfb4c3c.338524","e93a0796.d3e2c8","bf46324.e7249d"]]},{"id":"e93a0796.d3e2c8","type":"function","z":"87867079.15ac2","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":80,"wires":[["47168d0e.9875c4","b8778f5c.dc038"]]},{"id":"3bfb4c3c.338524","type":"function","z":"87867079.15ac2","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":240,"wires":[["47168d0e.9875c4","2dc6f5fe.e1e77a"]]},{"id":"2dc6f5fe.e1e77a","type":"ui_gauge","z":"87867079.15ac2","name":"","group":"e8e3f10e.0b4fd","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":240,"wires":[]},{"id":"b8778f5c.dc038","type":"ui_gauge","z":"87867079.15ac2","name":"","group":"e8e3f10e.0b4fd","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":80,"wires":[]},{"id":"9143fe0a.5458b","type":"http in","z":"87867079.15ac2","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["abbe8319.35bd4"]]},{"id":"b68dd33f.bcdfd","type":"http response","z":"87867079.15ac2","name":"","statusCode":"","headers":{},"x":510,"y":340,"wires":[]},{"id":"abbe8319.35bd4","type":"function","z":"87867079.15ac2","name":"webpage","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Humidity':global.get(\"Humidity\"),'soilmoisture':global.get(\"soilmoisture\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[["b68dd33f.bcdfd"]]},{"id":"64de20f4.761ea","type":"ibmiot out","z":"87867079.15ac2","authentication":"apiKey","apiKey":"e99fafa4.1d","outputType":"cmd","deviceId":"123456","deviceType":"1.1.1","eventCommandType":"home","format":"string","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":550,"y":500,"wires":[]},{"id":"6d4e5344.efdfac","type":"ui_button","z":"87867079.15ac2","name":"","group":"a60a7d4f.463c4","order":1,"width":0,"height":0,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motor on","payloadType":"str","topic":"","x":220,"y":480,"wires":[["64de20f4.761ea","5a00dfa3.8b342","3f2b4a88.86f5c6"]]},{"id":"a2c14d56.ffb31","type":"ui_button","z":"87867079.15ac2","name":"","group":"a60a7d4f.463c4","order":2,"width":0,"height":0,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motor off","payloadType":"str","topic":"","x":220,"y":540,"wires":[["64de20f4.761ea","26c8bbc8.4f7624","3f2b4a88.86f5c6"]]},{"id":"c05d021f.e49ac","type":"http in","z":"87867079.15ac2","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":230,"y":720,"wires":[["14011903.e28697"]]},{"id":"55271270.21b19c","type":"http response","z":"87867079.15ac2","name":"","statusCode":"","headers":{},"x":630,"y":720,"wires":[]},{"id":"14011903.e28697","type":"function","z":"87867079.15ac2","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":720,"wires":[["55271270.21b19c","64de20f4.761ea","9f7319bd.0af168"]]},{"id":"9f7319bd.0af168","type":"debug","z":"87867079.15ac2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":620,"wires":[]},{"id":"5a00dfa3.8b342","type":"ui_audio","z":"87867079.15ac2","name":"","group":"a60a7d4f.463c4","voice":"en-US","always":"","x":430,"y":440,"wires":[]},{"id":"26c8bbc8.4f7624","type":"ui_audio","z":"87867079.15ac2","name":"","group":"a60a7d4f.463c4","voice":"en-US","always":"","x":420,"y":580,"wires":[]},{"id":"3f2b4a88.86f5c6","type":"ui_toast","z":"87867079.15ac2","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"motor","name":"","x":460,"y":400,"wires":[]},{"id":"428f74b7.96829c","type":"inject","z":"87867079.15ac2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"welcome to green house monitoring and control system","payloadType":"str","x":90,"y":40,"wires":[["fb4e8b0d.d9c968"]]},{"id":"fb4e8b0d.d9c968","type":"debug","z":"87867079.15ac2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":40,"wires":[]},{"id":"614329b1.a3d278","type":"ui_button","z":"87867079.15ac2","name":"","group":"9eb6d9a1.202e98","order":0,"width":0,"height":0,"passthru":false,"label":"RICE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"wheat","payloadType":"str","topic":"","x":220,"y":620,"wires":[["64de20f4.761ea","9f7319bd.0af168"]]},{"id":"bf46324.e7249d","type":"function","z":"87867079.15ac2","name":"","func":"global.set('soilmoisture',msg.payload.soilmoisture)\nmsg.payload=msg.payload.soilmoisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":280,"wires":[["e10b8717.98e628"]]},{"id":"e10b8717.98e628","type":"ui_chart","z":"87867079.15ac2","name":"","group":"e8e3f10e.0b4fd","order":4,"width":0,"height":0,"label":"soil moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":410,"y":280,"wires":[[]]},{"id":"e99fafa4.1d","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e8e3f10e.0b4fd","type":"ui_group","z":"","name":"green house","tab":"f3f15796.a7eca8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a60a7d4f.463c4","type":"ui_group","z":"","name":"motor","tab":"bfef65a5.91caa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9eb6d9a1.202e98","type":"ui_group","z":"","name":"pick","tab":"7e164e64.929e9","order":1,"disp":true,"width":"6","collapse":false},{"id":"f3f15796.a7eca8","type":"ui_tab","z":"","name":"green house","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bfef65a5.91caa8","type":"ui_tab","z":"","name":"motor","icon":"dashboard","disabled":false,"hidden":false},{"id":"7e164e64.929e9","type":"ui_tab","z":"","name":"crop","icon":"dashboard","disabled":false,"hidden":false}]